<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clover Hills Plaza</title>
    <!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/43795697.js"></script>
<!-- End of HubSpot Embed Code -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body
    class="bg-no-repeat text-[#353435] scroll-smooth font-manrope p-6 md:p-16 bg-cover min-h-screen font-light  bg-center"
    style="background-image: url('images/gradient.svg');
    ">
    <div
        class="relative z-10 overflow-hidden bg-white px-6 py-[1.19rem] pt-0 md:pt-10 md:px-16 md:py-10 shadow-[0px_4px_15px_5px_rgba(38,37,40,0.10)]">
        <nav class="flex relative z-30 bg-white pt-[1.19rem] justify-between items-stretch border-b-[1px]">
            <logo-clover class="block mb-3">
                <a href="/">
                    <img src="images/logo.png" alt="logo" class="h-8 md:h-14">
                </a>
            </logo-clover>
            <div class="font-manrope pt-2.5">
                <ul class="hidden md:flex h-full justify-between gap-7 items-stretch">
                    <li class="text-sm text-[#353425] hover:text-gray-900">
                        <a class="h-full pt-2 block hover:border-b-[1px] hover:border-[#353425] transition-all duration-300 ease-out"
                            href="#amenities">Amenities</a>
                    </li>
                    <li class="text-sm text-[#353425] hover:text-gray-900">
                        <a class="h-full pt-2 block hover:border-b-[1px] hover:border-[#353425] transition-all duration-300 ease-out"
                            href="#reviews">Reviews</a>
                    </li>
                    <li class="text-sm text-[#353425] hover:text-gray-900">
                        <a class="h-full pt-2 block hover:border-b-[1px] hover:border-[#353425] transition-all duration-300 ease-out"
                            href="#faq">FAQs</a>
                    </li>
                    <li>
                        <button onclick="window.location.href = '#contact'"
                            class="cursor-pointer text-sm text-[#353425] hover:text-white hover:bg-[#353425] px-6 py-2 border-[1px] rounded-full border-[#353425] transition-all duration-300 ease-out">Get
                            in Touch</a>
                        </button>
                    </li>
                </ul>
                <div id="clicker" class="flex flex-col md:hidden justify-between w-4 gap-[0.31rem] cursor-pointer">
                    <div class="border-t-[0.75px] w-full border-[#353435]"></div>
                    <div class="border-t-[0.75px] w-full border-[#353435]"></div>
                    <div class="border-t-[0.75px] w-full border-[#353435]"></div>
                </div>
            </div>
        </nav>
        <div id="sidenav" class="md:hidden absolute w-full left-0 p-[1.56rem] top-[2.4rem] -translate-y-full transition-all duration-300 ease-out">
            <ul class="px-[3.4rem] py-[2.6rem] flex flex-col h-full justify-between gap-2 items-stretch bg-[#CDE8E3]">
                <li class="text-xs text-[#353425] hover:text-gray-900">
                    <a class="h-full pt-2 block hover:border-b-[1px] hover:border-[#353425] transition-all duration-300 ease-out"
                        href="#faq">FAQs</a>
                </li>
                <li class="text-xs text-[#353425] hover:text-gray-900">
                    <a class="h-full pt-2 block hover:border-b-[1px] hover:border-[#353425] transition-all duration-300 ease-out"
                        href="#reviews">Reviews</a>
                </li>
                <li class="text-xs text-[#353425] hover:text-gray-900">
                    <a class="h-full pt-2 block hover:border-b-[1px] hover:border-[#353425] transition-all duration-300 ease-out"
                        href="#amenities">Amenities</a>
                </li>
                <li class="mt-6">
                    <button onclick="window.location.href = '#contact'"
                        class="cursor-pointer text-center w-36 text-[0.625rem] md:text-sm leading-[1.25rem] md:leading-normal text-[#353425] hover:text-white hover:bg-[#353425] px-6 py-1 md:py-2 border-[1px] rounded-full border-[#353425] transition-all duration-300 ease-out">Get
                        in Touch</a>
                    </button>
                </li>
            </ul>
        </div>
        <header id="header"
            class="flex flex-col justify-center md:h-screen pt-8 text-[2.5rem] md:text-[5.0rem] font-light">
            <h1 class="w-[100%] leading-[118.1%]">
                Affordable Commercial Spaces for All Kinds of Businesses.
            </h1>
            <p class="text-base leading-[144.6%] md:leading-normal md:text-xl md:w-2/3 mt-6 md:mt-5 max-w-[42.25rem]">
                Rent Flexible Spaces Ranging from 250 sq ft to 10,000 sq ft, Experience Great Amenities, Join 87+
                Businesses that chose Clover Hills Plaza.
            </p>
            <div class="mt-[1.12rem] md:mt-14">
                <button onclick="window.location.href = '#contact'"
                    class="cursor-pointer text-xs font-normal md:text-base text-white hover:text-[#353425] hover:bg-[#35342500] bg-[#353425] px-[1.6rem] py-[0.62rem] md:px-[2.62rem] md:py-[1.285rem] border-[1px] rounded-full border-[#353425] transition-all duration-300 ease-out tracking-[0.00625rem]">Contact
                    Us</button>
            </div>
            <hr class="border-b-[1.5px] mt-auto md:mt-24 w-full border-[#DEDDDF]">
        </header>
        <client-logos class="block overflow-hidden mt-[2.12rem]">
            <h2 class="text-base md:text-3xl font-light font-manrope">Empowering 87+ Businesses with the Perfect Spaces
            </h2>
            <div id="logo-container" class="flex gap-16 overflow-x-hidden mt-14 mb-24">
                <div class="logo-scroller flex gap-16">
                    <% for (let i=0; i < 20; i++) { for (let index=0; index < 9; index++) { const element=index+1 %>
                        <client-logo class="h-28 w-28 flex justify-center items-center flex-none">
                            <img src="images/clients/<%= element %>.png" alt="client" class="object-contain">
                        </client-logo>
                        <% } } %>
                </div>

            </div>
            <hr class="border-b-[1.5px] mt-[2.73rem] md:mt-24 w-full border-[#DEDDDF]">
        </client-logos>
        <space-range id="space" class="block mt-[1.81rem] md:mt-24">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-20">
                <div class="h-[14.25rem] order-2 md:order-1 md:h-[28rem] overflow-hidden hidden md:block">
                    <img src="images/office.jpg" alt="office" class="object-cover w-full h-full">
                </div>
                <div>
                    <h2 class="font-light text-[2.25rem] order-1 md:order-2 md:text-[4rem] leading-[118.1%]">
                        Choose between<br class="hidden md:inline">250 - 10000 sq/ft
                    </h2>
                    <div class="h-[14.25rem] mt-4 order-2 md:order-1 md:h-[28rem] overflow-hidden md:hidden block">
                        <img src="images/office.jpg" alt="office" class="object-cover w-full h-full">
                    </div>
                    <p class="font-light text-base md:text-xl mt-6 md:min-w-[24.875rem] md:w-[60%]">
                        From Small Beginnings to Grand Ventures, Clover Hills Plaza has spaces that adapt with your
                        business needs
                    </p>
                    <div class="mt-[1.7rem] md:mt-28">
                        <a class="flex items-center gap-3" href="#contact">
                            <div class="md:h-12 md:w-12 w-[1.73731rem] h-[1.73731rem]">
                                <img src="images/down_arrow.svg" alt="arrow">
                            </div>
                            <div class="text-[0.625rem] md:text-base uppercase font-light">
                                Contact Us
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="border-b-[1.5px] mt-[1.88rem] md:mt-24 w-full border-[#DEDDDF]">
        </space-range>
        <space-range id="businesses" class="block mt-[1.69rem] md:mt-24">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-20">
                <div class="h-[28rem] hidden md:block overflow-hidden order-2">
                    <img src="images/office2.jpg" alt="office" class="object-cover w-full h-full">
                </div>
                <div class="order-1">
                    <h2 class="font-light text-[2.25rem] order-1 md:order-2 md:text-[4rem] leading-[118.1%]">
                        Spaces for All Kinds of Businesses
                    </h2>
                    <div class="h-[14.25rem] mt-4 order-2 md:order-1 md:h-[28rem] overflow-hidden md:hidden block">
                        <img src="images/office2.jpg" alt="office" class="object-cover w-full h-full">
                    </div>
                    <p class="font-light text-base md:text-xl mt-6 md:min-w-[24.875rem] md:w-[60%]">
                        Whether you're a small business, café, franchise, restaurant, gym or a corporate, we've got the
                        perfect space for you.
                    </p>
                    <div class="mt-[1.7rem] md:mt-28">
                        <a class="flex items-center gap-3" href="#contact">
                            <div class="md:h-12 md:w-12 w-[1.73731rem] h-[1.73731rem]">
                                <img src="images/down_arrow.svg" alt="arrow">
                            </div>
                            <div class="font-light uppercase text-[0.625rem] md:text-base">
                                Contact Us
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </space-range>
        <amenities-all id="amenities" class="block mt-12">
            <h4 class="uppercase tracking-[0.04875rem] text-[0.5rem] md:text-xs font-light text-black">
                Amenities
            </h4>
            <hr class="border-b-[1.5px] mt-2 md:mt-5 w-full border-[#DEDDDF]">
            <div
                class="mt-[1.75rem] md:mt-[5.56rem] grid grid-cols-2 md:grid-cols-4 md:gap-x-5 md:gap-y-20 gap-[1.31rem]">
                <div class="col-span-2 md:col-span-1 relative md:row-span-2">
                    <div
                        class="h-auto md:h-[31rem] font-light sticky top-16 bg-[#F0FAF5] pt-10 pl-[2.62rem] pr-[3.13rem] pb-11 flex flex-col">
                        <h3 class="text-2xl mb-[0.44rem] md:mb-4 leading-[118.1%]">
                            We’ve Got Great Amenities for you
                        </h3>
                        <p class="mb-[1.63rem] text-xs md:text-base md:mb-0">
                            At Clover Hills Plaza, we go above and beyond to offer you the best amenities, from
                            maintenance and security staff to rooftop restaurants and our entertainment zones.
                        </p>
                        <div class=" md:mt-auto">
                            <button onclick="window.location.href = '#contact'"
                                class="cursor-pointer text-xs font-normal md:text-base text-white hover:text-[#353425] hover:bg-[#35342500] bg-[#353425] px-[1.6rem] py-[0.62rem] md:px-[2.62rem] md:py-[1.285rem] border-[1px] rounded-full border-[#353425] transition-all duration-300 ease-out tracking-[0.00625rem]">Contact
                                Us</button>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="md:group-hover:h-[20rem] h-[8.9rem] md:h-[28rem] transition-all duration-300 ease-out bg-cover bg-no-repeat"
                        style="background-image:url('images/amenities/entertainment.jpg');">
                        <div
                            class="h-full w-full bg-black opacity-0 group-hover:opacity-30 transition-all duration-300 ease-out">

                        </div>
                    </div>
                    <h4 class="text-base md:text-xl mb-2 mt-3">Entertainment Zone</h4>
                    <div
                        class="relative md:group-hover:h-[8rem] transition-all duration-300 ease-out  h-[3rem] md:h-[0rem] overflow-hidden">
                        <p
                            class="absolute top-0 md:top-full md:group-hover:top-0 transition-all duration-300 ease-out font-[#353435] text-[0.625rem] md:text-base">
                            We’ve got
                            a paintball arena, a go-karting track, an arcade, and a bowling zone so you can bond with
                            colleagues, and recharge after a busy workday.
                        </p>
                    </div>
                </div>
                <div class="group">
                    <div class="md:group-hover:h-[20rem] h-[8.9rem] md:h-[28rem] transition-all duration-300 ease-out bg-cover bg-no-repeat"
                        style="background-image:url('images/amenities/parking.jpg');">
                        <div
                            class="h-full w-full bg-black opacity-0 group-hover:opacity-30 transition-all duration-300 ease-out">

                        </div>
                    </div>
                    <h4 class="text-base md:text-xl mb-2 mt-3">Ample Parking Space</h4>
                    <div
                        class="relative md:group-hover:h-[8rem] transition-all duration-300 ease-out  h-[3rem] md:h-[0rem] overflow-hidden">
                        <p
                            class="absolute top-0 md:top-full md:group-hover:top-0 transition-all duration-300 ease-out font-[#353435] text-[0.625rem] md:text-base">
                            No more
                            circling the block or squeezing into tight spots. Our spacious parking area offers the
                            convenience you need.
                        </p>
                    </div>
                </div>
                <div class="group">
                    <div class="md:group-hover:h-[20rem] h-[8.9rem] md:h-[28rem] transition-all duration-300 ease-out bg-cover bg-no-repeat"
                        style="background-image:url('images/amenities/rooftop.jpg');">
                        <div
                            class="h-full w-full bg-black opacity-0 group-hover:opacity-30 transition-all duration-300 ease-out">

                        </div>
                    </div>
                    <h4 class="text-base md:text-xl mb-2 mt-3">Rooftop Restaurants & Bars</h4>
                    <div
                        class="relative md:group-hover:h-[8rem] transition-all duration-300 ease-out  h-[3rem] md:h-[0rem] overflow-hidden">
                        <p
                            class="absolute top-0 md:top-full md:group-hover:top-0 transition-all duration-300 ease-out font-[#353435] text-[0.625rem] md:text-base">
                            From
                            coffee meetups and business lunches to romantic dinners, our rooftop is the ideal spot to
                            unwind with an incredible view and fantastic food.
                        </p>
                    </div>
                </div>
                <div class="group">
                    <div class="md:group-hover:h-[20rem] h-[8.9rem] md:h-[28rem] transition-all duration-300 ease-out bg-cover bg-no-repeat"
                        style="background-image:url('images/amenities/conference.jpg');">
                        <div
                            class="h-full w-full bg-black opacity-0 group-hover:opacity-30 transition-all duration-300 ease-out">

                        </div>
                    </div>
                    <h4 class="text-base md:text-xl mb-2 mt-3">Common Conference Rooms for Offices</h4>
                    <div
                        class="relative md:group-hover:h-[8rem] transition-all duration-300 ease-out  h-[3rem] md:h-[0rem] overflow-hidden">
                        <p
                            class="absolute top-0 md:top-full md:group-hover:top-0 transition-all duration-300 ease-out font-[#353435] text-[0.625rem] md:text-base">
                            If you
                            need a place to brainstorm & collaborate, we have common conference rooms that are designed
                            for productivity and focus.
                        </p>
                    </div>
                </div>
                <div class="group">
                    <div class="md:group-hover:h-[20rem] h-[8.9rem] md:h-[28rem] transition-all duration-300 ease-out bg-cover bg-no-repeat"
                        style="background-image:url('images/amenities/power.jpg');">
                        <div
                            class="h-full w-full bg-black opacity-0 group-hover:opacity-30 transition-all duration-300 ease-out">

                        </div>
                    </div>
                    <h4 class="text-base md:text-xl mb-2 mt-3">VRV / HVAC system & 100%
                        Power Backup</h4>
                    <div
                        class="relative md:group-hover:h-[8rem] transition-all duration-300 ease-out  h-[3rem] md:h-[0rem] overflow-hidden">
                        <p
                            class="absolute top-0 md:top-full md:group-hover:top-0 transition-all duration-300 ease-out font-[#353435] text-[0.625rem] md:text-base">
                            Stay
                            comfy round the clock with our advanced HVAC and enjoy uninterrupted power with 100% backup
                            always.
                        </p>
                    </div>
                </div>
                <div class="group">
                    <div class="md:group-hover:h-[20rem] h-[8.9rem] md:h-[28rem] transition-all duration-300 ease-out bg-cover bg-top bg-no-repeat"
                        style="background:url('images/amenities/security.jpg');">
                        <div
                            class="h-full w-full bg-black opacity-0 group-hover:opacity-30 transition-all duration-300 ease-out">

                        </div>
                    </div>
                    <h4 class="text-base md:text-xl mb-2 mt-3">Efficient Maintenance and Security Staff</h4>
                    <div
                        class="relative md:group-hover:h-[8rem] transition-all duration-300 ease-out  h-[3rem] md:h-[0rem] overflow-hidden">
                        <p
                            class="absolute top-0 md:top-full md:group-hover:top-0 transition-all duration-300 ease-out font-[#353435] text-[0.625rem] md:text-base">
                            Our team
                            is always here, keeping things safe and tidy so that you can focus on what truly matters.
                        </p>
                    </div>
                </div>
            </div>
        </amenities-all>
        <testimonies-all id="testimonies" class="block mt-12">
            <h4 class="uppercase tracking-[0.04875rem] text-[0.5rem] md:text-xs font-light text-black">
                PARTNER TESTIMONIALS
            </h4>
            <hr class="border-b-[1.5px] mt-2 md:mt-5 w-full border-[#DEDDDF]">
            <div
                class="mt-[1.75rem] md:mt-[5.56rem] grid grid-cols-1 md:grid-cols-4 md:gap-x-5 md:gap-y-20 gap-[1.31rem]">
                <div class="md:col-span-1 relative md:row-span-4">
                    <div
                        class="h-auto md:h-[31rem] font-light sticky top-16 bg-[#70b2bc1c] pt-10 pl-[2.62rem] pr-[3.13rem] pb-11 flex flex-col">
                        <h3 class="text-2xl mb-[0.44rem] md:mb-4 leading-[118.1%]">
                            Here’s what our Partners Say
                        </h3>
                        <p class="mb-[1.63rem] text-xs md:text-base md:mb-0">
                            At Clover Hills Plaza, we place great importance on nurturing a true sense of belonging,
                            where each business is embraced by a dynamic and vibrant community
                        </p>
                        <div class=" md:mt-auto">
                            <button onclick="window.location.href = '#contact'"
                                class="cursor-pointer text-xs font-normal md:text-base text-white hover:text-[#353425] hover:bg-[#35342500] bg-[#353425] px-[1.6rem] py-[0.62rem] md:px-[2.62rem] md:py-[1.285rem] border-[1px] rounded-full border-[#353425] transition-all duration-300 ease-out tracking-[0.00625rem]">Contact
                                Us</button>
                        </div>
                    </div>
                </div>
                <div class="group md:col-span-3">
                    <div class="grid grid-cols-1 md:grid-cols-3">
                        <div class="col-span-1 hidden md:block">
                            <div class="h-full transition-all duration-300 ease-out bg-cover bg-no-repeat"
                                style="background-image:url('images/testimonies/fml.jpg');">
                            </div>
                        </div>
                        <div
                            class="col-span-2 border-l-[1.5px] md:border-l-0 border-t-[1.5px] border-r-[1.5px] border-b-[1.5px] border-[#D9D9D9] md:h-[469px] p-[1.56rem] md:p-16 flex flex-col">
                            <p class="font-light md:text-base text-sm mb-10 md:mb-0">
                                The decision to open our restaurant in Clover Hills Plaza was one of the best choices
                                we've made. This property's rooftop offers a unique perspective of the city, making it a
                                sought-after destination for both locals and tourists. We've witnessed a surge in our
                                business, and we owe much of it to the charm and allure of this exceptional property.
                            </p>
                            <div class="mt-auto border-t-[1.5px] border-[#D9D9D9] pt-4 md:pt-5">
                                <h4 class="text-xl md:text-2xl font-light">
                                    Vivek Agarwal
                                </h4>
                                <div class="text-base md:text-xl font-light">
                                    FML (Rooftop Restaurant)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group md:col-span-3">
                    <div class="grid grid-cols-1 md:grid-cols-3">
                        <div class="col-span-1 hidden md:block">
                            <div class="h-full transition-all duration-300 ease-out bg-cover bg-no-repeat"
                                style="background-image:url('images/testimonies/bootstart.jpg');">
                            </div>
                        </div>
                        <div
                            class="col-span-2 border-l-[1.5px] md:border-l-0 border-t-[1.5px] border-r-[1.5px] border-b-[1.5px] border-[#D9D9D9] md:h-[469px] p-[1.56rem] md:p-16 flex flex-col">
                            <p class="font-light md:text-base text-sm mb-10 md:mb-0">
                                The strategic and convenient location of Clover Hills Plaza has been a tremendous
                                advantage for our business, it offers easy accessibility to clients, partners, and
                                collaborators. What truly sets Clover apart is the attentive staff. The team's
                                dedication to providing excellent service is commendable. The well-maintained facilities
                                at Clover Hills Plaza have consistently exceeded our expectations. Beyond the physical
                                space, the community at Clover Hills Plaza has enriched our business journey. The sense
                                of belonging to a dynamic and supportive community is something we cherish dearly.”\
                            </p>
                            <div class="mt-auto border-t-[1.5px] border-[#D9D9D9] pt-4 md:pt-5">
                                <h4 class="text-xl md:text-2xl font-light">
                                    Samiksha Sakhare
                                </h4>
                                <div class="text-base md:text-xl font-light">
                                    BootStart (Office)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group md:col-span-3">
                    <div class="grid grid-cols-1 md:grid-cols-3">
                        <div class="col-span-1 hidden md:block">
                            <div class="h-full transition-all duration-300 ease-out bg-cover bg-no-repeat"
                                style="background-image:url('images/testimonies/HighOctane.jpg');">
                            </div>
                        </div>
                        <div
                            class="col-span-2 border-l-[1.5px] md:border-l-0 border-t-[1.5px] border-r-[1.5px] border-b-[1.5px] border-[#D9D9D9] md:h-[469px] p-[1.56rem] md:p-16 flex flex-col">
                            <p class="font-light md:text-base text-sm mb-10 md:mb-0">
                                “Clover Hills Plaza has provided an ideal setting for High Octane to thrive and connect
                                with a diverse audience. The synergy between our entertainment offerings and the plaza's
                                ambiance has contributed significantly to making every visit a memorable experience for
                                our guests. We are proud to be part of this dynamic community.”
                            </p>
                            <div class="mt-auto border-t-[1.5px] border-[#D9D9D9] pt-4 md:pt-5">
                                <h4 class="text-xl md:text-2xl font-light">
                                    Haresh Shringi
                                </h4>
                                <div class="text-base md:text-xl font-light">
                                    HighOctane (Arcade)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group md:col-span-3">
                    <div class="grid grid-cols-1 md:grid-cols-3">
                        <div class="col-span-1">
                            <div class="h-full transition-all duration-300 ease-out bg-cover bg-no-repeat"
                                style="background-image:url('images/testimonies/anonymous.jpg');">
                            </div>
                        </div>
                        <div
                            class="col-span-2 border-l-[1.5px] md:border-l-0 border-t-[1.5px] border-r-[1.5px] border-b-[1.5px] border-[#D9D9D9] md:h-[469px] p-[1.56rem] md:p-16 flex flex-col">
                            <p class="font-light md:text-base text-sm mb-10 md:mb-0">
                                "I can't say enough good things about our experience at Clover Hills Plaza. Beer and
                                Beans Cafe has found a home here that has not only met but exceeded our expectations.
                                The plaza's strategic location, modern infrastructure, and constant improvements have
                                created a thriving environment for our business. The collaborative approach of the plaza
                                management and the sense of community among fellow tenants have made this property more
                                than just a place of business; it's become a true partner in our success story.”
                            </p>
                            <div class="mt-auto border-t-[1.5px] border-[#D9D9D9] pt-4 md:pt-5">
                                <h4 class="text-xl md:text-2xl font-light">
                                    Anonymous
                                </h4>
                                <div class="text-base md:text-xl font-light">
                                    Beer & Beans (Cafe)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </testimonies-all>
        <google-reviews class="block mt-12">
            <h4 class="uppercase tracking-[0.04875rem] text-[0.5rem] md:text-xs font-light text-black">
                GOOGLE REVIEWS
            </h4>
            <hr class="border-b-[1.5px] mt-2 md:mt-5 w-full border-[#DEDDDF] mb-6">
            <div class="bg-[#E7F5F2] md:p-24 md:pb-[7.63rem] md:mt-[7.5rem] p-[1.56rem] text-[0.6875rem]">
                <div class="grid grid-cols-1 md:grid-cols-3 md:gap-5">
                    <div class="flex flex-col md:gap-5 ">
                        <div class="bg-white">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-0.png" alt="reviewer"
                                    class="md:h-[3.375rem] h-[2.4rem] block">
                                <h4 class="font-normal text-[0.6875rem]">Hameed Qazi</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">2 years ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        Awsome place to have your own office space with
                                        beatifull forest view and signature elevation and
                                        designs.<br>
                                        Starting from 700sqft commercial spaces to 3500sqft.
                                        Office sizez are huge and an amazing neighbourhood of
                                        branded and all types of comercial brands from in and out of Pune.<br>
                                        Realestate, internet service providers, cryptocurrency,
                                        office, interior designing studios, pharma companies, tiles and flooring, it
                                        companies and
                                        many more ale all
                                        situated in the Clover Hills plaza viscinity.<br>
                                        Also it has a huge cafeteria, there are a lot of restaurants and clubs
                                        situated
                                        in
                                        this
                                        mall.
                                        Eating, clubbing, working is possible in 1 place in this amazing Mall by
                                        Clover
                                        builders.<br>
                                        All and all a good investment and worth having an office in this landmark.
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">17</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-1.png" alt="reviewer"
                                    class="md:h-[3.375rem] h-[2.4rem] block">
                                <h4 class="font-normal text-[0.6875rem]">Devendra Shah</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">2 weeks ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        It’s still not fully operational to its full capacity..so lots of
                                        opportunity for Start-ups and entrepreneurs,,But it’s lovable place situated on
                                        a hilloc- Top...Nice views and
                                        good place to chill-out...Good gaming zone is also
                                        operational...Overall, very well designed mall ....
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">1</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white md:hidden">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-8.png" alt="reviewer"
                                    class="md:h-[3.375rem] h-[2.4rem] block">
                                <h4 class="font-normal text-[0.6875rem]">Sameer Shinde</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500-a.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">3 months ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        The mall is good upcoming with multiple brands
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Like</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white md:hidden">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-4.png" alt="reviewer"
                                    class="md:h-[3.375rem] h-[2.4rem] block">
                                <h4 class="font-normal text-[0.6875rem]">Navinder Singh Bevli</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500-a.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">3 months ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        A very well organised and maintained commercial
                                        complex. It is a modern building with superlative quality of construction which
                                        makes it the most highly rated commercial building in the area.
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Like</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md:flex flex-col gap-5 hidden">
                        <div class="bg-white">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-2.png" alt="reviewer" class="h-[3.375rem] block">
                                <h4 class="font-normal text-[0.6875rem]">Namdev Kajjewad</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">a year ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        One of the best think about this place....parking
                                        management is so clever n helpful also.... this place available best corporate
                                        offices, gaming place like high octane n rubika, personally my favourite thing
                                        is all restro...like levit8, barbique nation n FML.. all things available drink
                                        n smoke also...KFC also available........
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Like</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-3.png" alt="reviewer" class="h-[3.375rem] block">
                                <h4 class="font-normal text-[0.6875rem]">Anwar Shaikh</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500-a.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">a year ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        Located on NIBM-Undri road, its a big place for all
                                        restaurants and other shopping stores inside. High chair bars also available
                                        here for drinks and partying. Cafe’s as well. Space is good and other things
                                        too.
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Like</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-4.png" alt="reviewer" class="h-[3.375rem] block">
                                <h4 class="font-normal text-[0.6875rem]">Navinder Singh Bevli</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500-a.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">3 months ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        A very well organised and maintained commercial
                                        complex. It is a modern building with superlative quality of construction which
                                        makes it the most highly rated commercial building in the area.
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Like</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md:flex flex-col gap-5 hidden">
                        <div class="bg-white">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-5.png" alt="reviewer" class="h-[3.375rem] block">
                                <h4 class="font-normal text-[0.6875rem]">Shaid Hussain</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">two weeks ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        Only place for best offices in Pune.
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Like</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-8.png" alt="reviewer" class="h-[3.375rem] block">
                                <h4 class="font-normal text-[0.6875rem]">Sameer Shinde</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500-a.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">3 months ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        The mall is good upcoming with multiple brands
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Like</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-7.png" alt="reviewer" class="h-[3.375rem] block">
                                <h4 class="font-normal text-[0.6875rem]">Sachin Gadhave</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500-a.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">a year ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        State of art design and a prime place for hangout.
                                        Popular brands are set to open their outlets here. NIBM is finally gotten a mall
                                        that lives uo to its class.
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Like</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="flex items-center pl-[0.81rem] pt-[0.81rem] gap-1 bg-white">
                                <img src="images/reviews/Mask group-6.png" alt="reviewer" class="h-[3.375rem] block">
                                <h4 class="font-normal text-[0.6875rem]">dr.bhupali jadhav</h4>
                            </div>
                            <div class="px-[1.27rem] mb-10 ">
                                <div class="flex flex-col gap-1">
                                    <div class="flex items-center">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500.svg" alt="star" class="h-3 block">
                                        <img src="images/star-purple-500-a.svg" alt="star" class="h-3 block">
                                        <div class="text-[0.6875rem] ml-2">2 months ago</div>
                                        <div class="ml-auto">
                                            <img src="images/more-vert.svg" alt="flag" class="h-3 inline-block ml-2">
                                        </div>
                                    </div>
                                    <p class="text-[#353435] leading-[158%]">
                                        Nice place
                                    </p>
                                </div>
                            </div>
                            <div class="px-[1.85rem] pb-[1.85rem] flex gap-10">
                                <div class="flex gap-2">
                                    <img src="images/thumb-up.svg" alt="like" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Like</div>
                                </div>
                                <div class="flex gap-2">
                                    <img src="images/share.svg" alt="share" class="h-4 inline-block">
                                    <div class="text-[0.6875rem] font-[#353435]">Share</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-8 md:mt-14 flex md:justify-end">
                    <button onclick="window.location.href = '#contact'"
                        class="cursor-pointer text-xs font-normal md:text-base text-white hover:text-[#353425] hover:bg-[#35342500] bg-[#353425] px-[1.6rem] py-[0.62rem] md:px-[2.62rem] md:py-[1.285rem] border-[1px] rounded-full border-[#353425] transition-all duration-300 ease-out tracking-[0.00625rem]">Contact
                        Us</button>
                </div>
            </div>
        </google-reviews>
        <contact-form id="contact" class="block mt-[3rem] md:mt-5">
            <h4 class="uppercase tracking-[0.04875rem] text-[0.5rem] md:text-xs font-light text-black">
                CONTACT FORM
            </h4>
            <hr class="border-b-[1.5px] mt-2 md:mt-5 w-full border-[#DEDDDF]">
            <div class="grid grid-cols-1 md:grid-cols-2 md:pt-[4.3rem] mt-[1.37rem] mb:mt-20">
                <div class="hidden md:block">
                    <h3 class="text-[2.25rem] md:text-7xl font-light leading-[118.1%] md:leading-[4.724rem]">
                        Let’s Find Your<br>Perfect Place
                    </h3>
                    <p class="mt-12 text-xl">
                        Wondering what happens next?
                    </p>
                    <ol type="01" class="pl-7 list-[decimal-leading-zero] mt-7 marker:text-[#70B2BC] marker:pr-3 w-3/4">
                        <li class="mb-6 pl-4">You can expect a call within 1-2 days after submitting the form to discuss
                            your requirements.</li>
                        <li class="mb-6 pl-4">We'll arrange a visit to Clover Hills Plaza to show you the available
                            spaces.</li>
                        <li class="mb-6 pl-4">Once you've chosen a space, we'll help you complete the lease agreements.
                        </li>
                        <li class="pl-4">Upon signing the lease, we warmly welcome you to Clover Hills Plaza and support
                            your smooth move-in process.</li>
                    </ol>
                </div>
                <div class="md:bg-[#E7F5F2] md:px-20 md:py-11">
                    <h3
                        class="md:hidden text-[2.25rem] mb-[1.31rem] md:text-7xl font-light leading-[118.1%] md:leading-[4.724rem]">
                        Let’s Find Your<br>Perfect Place
                    </h3>
                    <form class="bg-[#E7F5F2] relative px-[1.75rem] py-[1.75rem] md:py-[1.12rem] md:p-0" id="form" method="POST">
                        <div id="thankyou" class="bg-[#E7F5F2] opacity-0 hidden transition-all duration-300 ease-out absolute top-0 left-0 h-full w-full items-center text-center justify-center">
                            <div class="text-center w-full">
                                <h4 class="text-[2.25rem] leading-[118.1%] md:text-[4rem]">Thank You!</h4>
                                <p class="text-[0.75rem] md:text-[1.25rem]">Your Message has been Received</p>
                            </div>
                        </div>
                        <div class="mb-7">
                            <label for="name" class="block uppercase text-xs mb-5">Name</label>
                            <input required type="text" name="name_client" id="name" placeholder="Your Name"
                                class="w-full p-5 text-[0.875rem] md:text-base leading-tight text-gray-700 border-0 appearance-none focus:outline-none focus:shadow-outline">
                        </div>
                        <div class="mb-7">
                            <label for="mobile" class="block uppercase text-xs mb-5">Mobile No.</label>
                            <input required type="tel" name="mobile" id="mobile" placeholder="Your Mobile No."
                                class="w-full p-5 text-[0.875rem] md:text-base leading-tight text-gray-700 border-0 appearance-none focus:outline-none focus:shadow-outline">
                        </div>
                        <div class="mb-7">
                            <label for="email" class="block uppercase text-xs mb-5">Email</label>
                            <input required type="email" name="email" id="email" placeholder="Your Email"
                                class="w-full p-5 text-[0.875rem] md:text-base leading-tight text-gray-700 border-0 appearance-none focus:outline-none focus:shadow-outline">
                        </div>
                        <div class="mb-7">
                            <label for="message" class="block uppercase text-xs mb-5">Message</label>
                            <textarea required type="text" name="message" id="message" placeholder="Your Message"
                                class="w-full p-5 text-[0.875rem] md:text-base leading-tight text-gray-700 border-0 h-[7.8rem] appearance-none focus:outline-none focus:shadow-outline"></textarea>
                        </div>
                        <div class="mt-11">
                            <button type="submit"
                                class="cursor-pointer text-xs font-normal md:text-base text-white hover:text-[#353425] hover:bg-[#35342500] bg-[#353425] px-[1.6rem] py-[0.62rem] md:px-[2.62rem] md:py-[1.285rem] border-[1px] rounded-full border-[#353425] transition-all duration-300 ease-out tracking-[0.00625rem]">Send
                                Message
                            </button>
                        </div>
                    </form>
                    <p class="mt-12 text-base md:text-xl md:hidden">
                        Wondering what happens next?
                    </p>
                    <ol type="01"
                        class="md:hidden pl-7 list-[decimal-leading-zero] mt-7 marker:text-[#70B2BC] marker:pr-3 text-[0.93rem]">
                        <li class="mb-4 pl-4">You can expect a call within 1-2 days after submitting the form to discuss
                            your requirements.</li>
                        <li class="mb-4 pl-4">We'll arrange a visit to Clover Hills Plaza to show you the available
                            spaces.</li>
                        <li class="mb-4 pl-4">Once you've chosen a space, we'll help you complete the lease agreements.
                        </li>
                        <li class="pl-4 mb-[2.63rem]">Upon signing the lease, we warmly welcome you to Clover Hills
                            Plaza and support
                            your smooth move-in process.</li>
                    </ol>
                </div>
            </div>
        </contact-form>
        <common-questions id="faq" class="block mt-5">
            <h4 class="uppercase tracking-[0.04875rem] text-[0.5rem] md:text-xs font-light text-black">
                CONTACT FORM
            </h4>
            <hr class="border-b-[1.5px] mt-2 md:mt-5 w-full border-[#DEDDDF]">
            <h3 class="leading-[118.1%] text-[2.25rem] md:text-[4rem] mt-[4.31rem]">
                Common Questions
            </h3>
            <div class="grid grid-cols-1 md:grid-cols-2 pt-[4.37rem] gap-[2rem] md:gap-[6.25rem]">
                <div class="flex flex-col faq">
                    <div class="flex items-center gap-7 justify-between">
                        <p class="text-sm md:text-xl">
                            What types of commercial spaces are available for rent at Clover Hills Plaza?
                        </p>
                        <div
                            class="p-3 flex button cursor-pointer border-[1px] rounded-full justify-center items-center transition-all duration-300 ease-out">
                            <img src="images/add.svg" alt="plus" class="block ">
                        </div>
                    </div>
                    <p
                        class="text-[#79747E] text-sm md:text-base transition-all duration-300 ease-out para pr-10 overflow-hidden h-0">
                        We provide an array of rental spaces to cater to various business needs. Whether you're a café,
                        restaurant, small business, franchise, gym, or corporate entity, we have the perfect space
                        waiting for you.
                    </p>
                    <hr class="border-b-[1.5px] mt-4 md:mt-[2rem] w-full border-[#DEDDDF]">
                </div>
                <div class="flex flex-col faq">
                    <div class="flex items-center gap-7 justify-between">
                        <p class="text-sm md:text-xl">
                            How can I inquire about renting a space at Clover Hills Plaza? </p>
                        <div
                            class="p-3 flex button cursor-pointer border-[1px] rounded-full justify-center items-center transition-all duration-300 ease-out">
                            <img src="images/add.svg" alt="plus" class="block ">
                        </div>
                    </div>
                    <p
                        class="text-[#79747E] text-sm md:text-base transition-all duration-300 ease-out para pr-10 overflow-hidden h-0">
                        To inquire about renting a space, you can fill out our Contact Us form. We're here to assist you
                        every step of the way. </p>
                    <hr class="border-b-[1.5px] mt-[2rem] w-full border-[#DEDDDF]">
                </div>
                <div class="flex flex-col faq">
                    <div class="flex items-center gap-7 justify-between">
                        <p class="text-sm md:text-xl">
                            What is the process for leasing a space at Clover Hills Plaza? </p>
                        <div
                            class="p-3 flex button cursor-pointer border-[1px] rounded-full justify-center items-center transition-all duration-300 ease-out">
                            <img src="images/add.svg" alt="plus" class=" block ">
                        </div>
                    </div>
                    <p
                        class="text-[#79747E] text-sm md:text-base transition-all duration-300 ease-out para pr-10 overflow-hidden h-0">
                        The leasing process involves submitting an inquiry, discussing your requirements with our
                        leasing team, viewing available spaces, signing a lease agreement, and finalizing the rental
                        arrangements. </p>
                    <hr class="border-b-[1.5px] mt-[2rem] w-full border-[#DEDDDF]">
                </div>
                <div class="flex flex-col faq">
                    <div class="flex items-center gap-7 justify-between">
                        <p class="text-sm md:text-xl">
                            Can I schedule a site visit to see the available rental spaces? </p>
                        <div
                            class="p-3  flex button cursor-pointer border-[1px] rounded-full justify-center items-center transition-all duration-300 ease-out">
                            <img src="images/add.svg" alt="plus" class="block ">
                        </div>
                    </div>
                    <p
                        class="text-[#79747E] text-sm md:text-base transition-all duration-300 ease-out para pr-10 overflow-hidden h-0">
                        Absolutely, we encourage you to schedule a site visit to explore the available spaces firsthand
                        and get a feel for the environment. Reach out to our leasing team to arrange a suitable time.
                    </p>
                    <hr class="border-b-[1.5px] mt-[2rem] w-full border-[#DEDDDF]">
                </div>
                <div class="flex flex-col faq">
                    <div class="flex items-center gap-7 justify-between">
                        <p class="text-sm md:text-xl">
                            Can I schedule a site visit to see the available rental spaces? </p>
                        <div
                            class="p-3  flex button cursor-pointer border-[1px] rounded-full justify-center items-center transition-all duration-300 ease-out">
                            <img src="images/add.svg" alt="plus" class="block ">
                        </div>
                    </div>
                    <p
                        class="text-[#79747E] text-sm md:text-base transition-all duration-300 ease-out para pr-10 overflow-hidden h-0">
                        Absolutely, we encourage you to schedule a site visit to explore the available spaces firsthand
                        and get a feel for the environment. Reach out to our leasing team to arrange a suitable time.
                    </p>
                    <hr class="border-b-[1.5px] mt-[2rem] w-full border-[#DEDDDF]">
                </div>
                <div class="flex flex-col faq">
                    <div class="flex items-center gap-7 justify-between">
                        <p class="text-sm md:text-xl">
                            What sizes are the rental spaces available in? </p>
                        <div
                            class="p-3  flex button cursor-pointer border-[1px] rounded-full justify-center items-center transition-all duration-300 ease-out">
                            <img src="images/add.svg" alt="plus" class="block ">
                        </div>
                    </div>
                    <p
                        class="text-[#79747E] text-sm md:text-base transition-all duration-300 ease-out para pr-10 overflow-hidden h-0">
                        Clover Hills Plaza offers rental spaces that range in size from a compact 250 sq/ft to an
                        expansive 10,000 sq/ft. Our spaces are designed to adapt to your business's evolving needs. </p>
                    <hr class="border-b-[1.5px] mt-[2rem] w-full border-[#DEDDDF]">
                </div>
                <div class="flex flex-col faq">
                    <div class="flex items-center gap-7 justify-between">
                        <p class="text-sm md:text-xl">
                            What amenities are included with the rental spaces? </p>
                        <div
                            class="p-3 flex button cursor-pointer border-[1px] rounded-full justify-center items-center transition-all duration-300 ease-out">
                            <img src="images/add.svg" alt="plus" class=" block ">
                        </div>
                    </div>
                    <p
                        class="text-[#79747E] text-sm md:text-base transition-all duration-300 ease-out para pr-10 overflow-hidden h-0">
                        Our rental spaces come equipped with essential amenities such as HVAC systems, 100% Power
                        Backups, Lighting, Utility connections, Common Conference Rooms, and more. Additional amenities
                        can be discussed during the leasing process based on your preferences. </p>
                    <hr class="border-b-[1.5px] mt-[2rem] w-full border-[#DEDDDF]">
                </div>
                <div class="flex flex-col faq">
                    <div class="flex items-center gap-7 justify-between">
                        <p class="text-sm md:text-xl">
                            Are the Office spaces 24/7 functional? </p>
                        <div
                            class="p-3 flex button cursor-pointer border-[1px] rounded-full justify-center items-center transition-all duration-300 ease-out">
                            <img src="images/add.svg" alt="plus" class="block ">
                        </div>
                    </div>
                    <p
                        class="text-[#79747E] text-sm md:text-base transition-all duration-300 ease-out para pr-10 overflow-hidden h-0">
                        Yes, our office spaces at Clover Hills Plaza are designed to provide 24/7 functionality,
                        ensuring that you can work according to your schedule and preferences. </p>
                    <hr class="border-b-[1.5px] mt-[2rem] w-full border-[#DEDDDF]">
                </div>
                <div class="flex flex-col faq">
                    <div class="flex items-center gap-7 justify-between">
                        <p class="text-sm md:text-xl">
                            Are the offices fully furnished or bear shell? </p>
                        <div
                            class="p-3 flex button cursor-pointer border-[1px] rounded-full justify-center items-center transition-all duration-300 ease-out">
                            <img src="images/add.svg" alt="plus" class="block ">
                        </div>
                    </div>
                    <p
                        class="text-[#79747E] text-sm md:text-base transition-all duration-300 ease-out para pr-10 overflow-hidden h-0">
                        At Clover Hills Plaza, we offer bare-shell office spaces that allow for customization according
                        to your specific requirements. </p>
                </div>
            </div>
        </common-questions>
        <locate-us id="location" class="block mt-[4.31rem]">
            <h4 class="uppercase tracking-[0.04875rem] text-[0.5rem] md:text-xs font-light text-black">
                Location
            </h4>
            <hr class="border-b-[1.5px] mt-2 md:mt-5 w-full border-[#DEDDDF]">
            <div class="grid grid-cols-1 md:grid-cols-2 md:gap-[5rem]">
                <div class="flex flex-col mt-5 md:mt-0">
                    <h3 class="leading-[118.1%] text-4xl md:text-[4rem] ">
                        Locate Us
                    </h3>
                    <p class="text-sm md:text-xl text-[#353435] my-[1.5rem] md:mb-0 md:mt-[2.5rem]">
                        Clover Hills Plaza is located on NIBM Road, Pune. The area is peaceful and relaxing, and the
                        nearby urban amenities ensure a comfortable balance for work.
                    </p>
                    <div class="mt-auto pb-14 hidden md:block">
                        <button onclick="window.location.href = '#contact'"
                            class="cursor-pointer text-xl font-normal leading-[0.00625rem] text-[#353425] hover:text-white hover:bg-[#353425] px-[2rem] py-[1.5rem] border-[1px] rounded-full border-[#353425] transition-all duration-300 ease-out">Get
                            in Touch</a>
                        </button>
                    </div>

                </div>
                <div class="">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.357786642639!2d73.9014928!3d18.4674459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea6863afa47b%3A0xf363caa5e2ac9740!2sClover%20Hills%20Plaza!5e0!3m2!1sen!2sin!4v1694158758585!5m2!1sen!2sin"
                        class="w-full aspect-square md:aspect-auto md:h-[28rem]" style="border:0;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="block md:hidden mt-[2.56rem]">
                    <button type="submit"
                        class="cursor-pointer text-xs font-normal md:text-base text-white hover:text-[#353425] hover:bg-[#35342500] bg-[#353425] px-[1.6rem] py-[0.62rem] md:px-[2.62rem] md:py-[1.285rem] border-[1px] rounded-full border-[#353425] transition-all duration-300 ease-out tracking-[0.00625rem]">Reach
                        Out To Us
                    </button>
                </div>
            </div>
        </locate-us>
        <our-legacy id="location" class="block mt-[4.31rem]">
            <h4 class="uppercase tracking-[0.04875rem] text-[0.5rem] md:text-xs font-light text-black">
                OUR LEGACY
            </h4>
            <hr class="border-b-[1.5px] mt-2 md:mt-5 w-full border-[#DEDDDF]">
            <div class="grid grid-cols-1 md:grid-cols-2 md:gap-[5rem]">
                <div class="flex flex-col mt-5 md:mt-0">
                    <h3 class="leading-[118.1%] text-4xl md:text-[4rem] ">
                        The Clover Builders’ Legacy
                    </h3>
                    <p class="text-sm md:text-xl text-[#353435] my-[1.5rem] md:mb-0 md:mt-[2.5rem]">
                        With a vision to exceed and a passion to excel, Clover Builders has delivered exemplary projects
                        that are ahead of times in planning, strength and form.
                        We are known for the passion and quality of our work. We’ve built our legacy as one of the top
                        builders in Pune.
                    </p>
                </div>
                <div class="">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.357786642639!2d73.9014928!3d18.4674459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea6863afa47b%3A0xf363caa5e2ac9740!2sClover%20Hills%20Plaza!5e0!3m2!1sen!2sin!4v1694158758585!5m2!1sen!2sin"
                        class="w-full aspect-square md:aspect-auto md:h-[28rem]" style="border:0;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </our-legacy>

        <footer
            class="mt-[5rem] md:pt-[5rem] flex md:flex-row flex-col justify-between flex-wrap md:pr-[5.5rem] md:border-t-[1.5px] md:border-[#DEDDDF]">
            <logo-clover class="block md:w-auto w-full">
                <a href="/">
                    <img src="images/logo.png" alt="logo" class=" h-14">
                </a>
            </logo-clover>
            <hr class="w-full border-t-[1.5px] block md:hidden mb-5">
            <div class="grid text-[0.625rem] md:text-base grid-cols-1 md:grid-cols-4 gap-x-[7rem] gap-y-2 md:gap-y-6">
                <a class="block" href="#space">
                    Floor Space
                </a>
                <a class="block" href="#amenities">
                    Amenities
                </a>
                <a class="block" href="#reviews">
                    Reviews
                </a>
                <a class="block" href="#location">
                    Location
                </a>
                <a class="block" href="#businesses">
                    Businesses
                </a>
                <a class="block" href="#testimonies">
                    Testimonies
                </a>
                <a class="block" href="#faq">
                    FAQ
                </a>
                <a class="block" href="#legacy">
                    Our Legacy
                </a>
            </div>
            <div class="mt-[1.3rem] md:mt-[5.7rem] md:flex justify-end  flex-grow w-full mb-[5rem] ">
                <button onclick="window.location.href = '#contact'"
                    class="cursor-pointer text-xs font-normal md:text-base text-white hover:text-[#353425] hover:bg-[#35342500] bg-[#353425] px-[1.6rem] py-[0.62rem] md:px-[2.62rem] md:py-[1.285rem] border-[1px] rounded-full border-[#353425] transition-all duration-300 ease-out tracking-[0.00625rem]">Get
                    in Touch</button>
            </div>
        </footer>
    </div>
    <script src="js/index.js"></script>
</body>

</html>